body,
html {
    margin: 0;
    padding: 0;
    background: #fffcf3;
}

body {
    width: 80%;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    vertical-align: middle;
    color: #fffcf3;
    transition: width .2s linear;
}

.navbar {
    background: #daceac;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 7px #daceac;
}

.navbar-text {
    color: #fffcf3;
    -webkit-filter: drop-shadow(0 0 3px rgb(184 179 164));
    filter: drop-shadow(0 0 3px rgb(184 179 164));
    font-size: 25px;
    font-weight: bold;
    user-select: none;
}

.diviser {
    height: 3px;
}

.container {
    background: #daceac;
    min-height: 50px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 7px #daceac;
    padding: 30px 5%;
}

.container.invisible {
    display: none;
}

input[type="number"] {
    height: 40px;
    background: #fffcf3;
    outline: none !important;
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    color: #daceac;
    border: none;
    box-shadow: 0 0 0px 0px #c7ba96;
    transition: color 0.15s ease-in, box-shadow 0.15s ease-in;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"]:focus {
    color: #c7ba96;
    box-shadow: 0 0 0px 3px #c7ba96;
}

input[type="number"]::placeholder {
    color: #e9ddbe;
}

select {
    height: 40px;
    background: #fffcf3;
    outline: none !important;
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    color: #daceac;
    border: none;
    box-shadow: 0 0 0px 0px #c7ba96;
    transition: color 0.15s ease-in, box-shadow 0.15s ease-in;
}

select:focus {
    color: #c7ba96;
    box-shadow: 0 0 0px 3px #c7ba96;
}

.button {
    height: 40px;
    background: #fffcf3;
    outline: none !important;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    color: #daceac;
    border: none;
    box-shadow: 0 0 0px 0px #c7ba96;
    transition: color 0.15s ease-in, box-shadow 0.15s ease-in;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    color: #c7ba96;
    box-shadow: 0 0 0px 3px #c7ba96;
}

.button.disabled {
    color: #daceac;
    box-shadow: 0 0 0px 0px #c7ba96;
    filter: grayscale(100%);
    cursor: default;
}

option {
    font-weight: bold;
    background: #fffcf3;
    color: #daceac;
}

::selection {
    background: #eee3c5;
    color: #afa68c;
}

.uid-input {
    width: calc(100% - 200px);
    display: inline-block;
}

.server-select {
    width: 90px;
    display: inline-block;
}

.search-button {
    width: 90px;
    display: inline-block;
}

.avatar-container {
    display: flex;
    padding: 30px 0;
    flex-wrap: wrap;
    justify-content: start;
}

avatar-card {
    width: 25%;
    padding: 0.5rem 2rem;
}

.stats-container {
    display: flex;
    flex-wrap: wrap;
}

.stats-item {
    width: 25%;
    margin: 15px 0;
}

.stats-title {
    -webkit-filter: drop-shadow(0 0 3px rgb(184 179 164));
    filter: drop-shadow(0 0 3px rgb(184 179 164));
    text-align: center;
    font-weight: 100;
    margin: 0;
    font-size: 19px;
}

.stats-data {
    -webkit-filter: drop-shadow(0 0 3px rgb(184 179 164));
    filter: drop-shadow(0 0 3px rgb(184 179 164));
    text-align: center;
    font-size: 30px;
    margin: 0;
}

.world-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    justify-content: space-around;
    align-items: center;
}

world-card {
    width: 240px;
}

@media screen and (max-width: 1260px) {
    body {
        width: 90%;
    }
}

@media screen and (max-width: 1160px) {
    avatar-card {
        width: 33.3%;
    }
}

@media screen and (max-width: 900px) {
    avatar-card {
        width: 50%;
    }

    .world-container {
        flex-flow: column;
        align-items: center;
    }
}

@media screen and (max-width: 625px) {
    .avatar-container {
        flex-flow: column;
        align-items: center;
    }
    avatar-card {
        width: 230px;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 560px) {
    body {
        width: 100%;
    }

    .uid-input {
        width: calc(100%);
        display: inline-block;
        margin: 5px;
    }

    .server-select {
        width: calc(100%);
        display: inline-block;
        margin: 5px;
    }

    .search-button {
        width: calc(100%);
        display: inline-block;
        margin: 5px;
    }

    .stats-item {
        width: 33.3%;
        margin: 15px 0;
    }
}
